.progress {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 3px 0px 0px 0px;
    display: flex;
    height: 40px;
    width: 700px;
  }
  
  .progress-value {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px greenyellow;
    border-radius: 10px;
    background: blue;
    height: 25px;
    width: 0;
    font-size: 13px;
    font-family: "Segoe UI", Arial, sans-serif;
  }
  

  /* Write client srcipt to change progress bar value */
  @keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
  }